.greyBg{
    min-width:1182px;
    background-color:#F1F1F1!important;
}
#container{
    box-sizing: border-box!important;
    height :auto;
    min-height: calc(100vh - 240px)!important;
    background-color: #F1F1F1!important; 
}
#loginBox{
    background-image: none!important;
}
#loginInputBox{
    position: relative;
    left:170px;
    float: left!important;
    margin-right:0!important;
}
#loginBtn{
    position: relative;
    right:234px;
    top:150px;
    width:234px!important;
    height:auto!important;
    font-size:18px!important;
}
.inputWraper input{
    box-sizing: border-box;
    padding-left:5px;
    padding-right:5px;
    outline: none;
}
#main_contaier,#teacher_main_contaier{
    background: #F1F1F1!important;
}
#school,#system{
    display: none;
}
.change-captcha{
    display: none;
}
#captcha-img{
    position: relative;
    left:15px;
    cursor: pointer;
}
.guest-tishi{
    color:#666!important;
}
#top{
    height: 0!important;

}
.mod-footer{
    padding-top:5px;
    padding-bottom:5px;
    box-sizing: border-box;
    width:100%;
    height:125px;
    background: white;
}
#footer{
    color:#222!important;
    font-size:14px;
    background-color:white!important;
}
#login_info{
    position: relative;
    bottom:70px;
}
#downlistWrapper{
    position: absolute;
    right:0;
    top:0;
}
.index-header{
    width:100%;
    text-align: left;
    height:60px;
    color:#333;
    background:white;

}
.index-header h1{
    display: inline;
    font-size: 20px;
    position: relative;
    top:16px;
    left:20px;
}
.index-header > span{
    position: relative;
    left:23px;
}
#courseTableHead{
    background: white!important;
    height:50px!important;
}
#thead_title span{
    display: inline-block!important;
    position: relative;
    top:6px;
    left:40px;
    height:auto!important;
    color:black!important;
    padding-top:0!important;
}
#thead_title{
    margin: 0!important;
}
#preSemester,#nextSemester,#right_ring,#courseTableHead div{
    height:50px!important;
    background: white!important;
}
.course_shift{
    position: relative;
    top:10px;
    margin: 0!important;
    background-image: none!important;
}
.mod-btn {
	color: rgb(255, 255, 255)!important;
    outline: none;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 6px;
	background: rgb(32, 160, 255)!important;
}

.mod-btn:hover {
	color: #ffffff;
	background: #3eaaf7!important;
	border-color: #ffffff;
}
html{
    font-family: "Source Hans Sans SC","PingFang SC","Microsoft Yahei",Arial,sans-serif!important;
}
body{
    font-family: "Source Hans Sans SC","PingFang SC","Microsoft Yahei",Arial,sans-serif!important;
}